body {
  font-family: georgia, times, serif;
  color: #57545e;
  font-size: 1.2rem;
  line-height: 1.6em;
  margin: 0;
}

p {
  margin-bottom: 1.6em;
}
.container {
  width: 85%;
  max-width: 850%;
  margin: 0 auto;
}

.header {
  background: palevioletred;
  color: #fa89ee;
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.header a {
  color: white;
  text-decoration: none;
}
.logo {
  letter-spacing: 15px;
  font-size: 1.4em;
}
.logo-nav-container{
  display: flex ;
  justify-content: space-between;
}

.menu-icon {
  display: none;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.5s linear;
}

.navigation ul li a:hover {
  background: #57545e;
}

.main {
  padding-top: 15rem;
}

.footer {
  background: #f2f2f2;
  padding: 4rem 0;
  text-align: center;
  margin-top: 6rem;
}

@media (max-width: 767px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .navigation {
    width: 100%;
    margin-top: 1rem;
  }
  .navigation ul {
    display: none;
  }
  .navigation ul.show {
    display: block;
  }
  .navigation ul li {
    display: block;
    margin-top: 1rem;
  }

  .navigation ul li a {
    display: block;
    padding: 0.5rem 0;
    border-radius: 5px;
    transition: all 0.5s linear;
  }

  .navigation ul li a:hover {
    background: #57545e;
  }

  .main {
    padding-top: 12rem;
  }

  .footer {
    background: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
  }
}
.row{ padding: 1.5rem;}
