body{
	
	margin: 0;
	background-color: rgb(255, 242, 204);
	
}
a{
	text-decoration: none;
	color: aliceblue;
	font-family: 'Courgette', cursive;
}
header{
	display: flex;
	height: 70px;
	justify-content: space-between;
	background-color: palevioletred;
	align-items: center;
	padding: 10px;
}
.logo{
	display: flex;
	align-items: center;

}
.logo img{
	height: 200px;
	margin-right: 10px;

}
nav a{
	margin: 40px;
	font-weight: 600;
	padding-right:30px;
	font-family: 'Basic', sans-serif;
}
nav a:hover{
	color: rgb(0, 0, 0);
}
.menu{
	width: 50px;
	height: 100px;
}
.caja{
	background-color: rgb(244, 198, 242);
	padding: 16px;
	justify-content: center;
	align-items: center;
	display: flex;
}
.sobre{
	background-color: rgb(244, 198, 242);
	padding: 10px;
	font-family: 'Basic', sans-serif;
}
.contenedor{
	max-width: 120rem;
	margin: 0 auto;
}
.header{
	display: flex;
	justify-content: center;
}
.foto-pro{
	max-width: 40rem;
	margin: 8rem ;

}
.nuestros-productos{
	font-family: 'Basic', sans-serif;
	color: palevioletred;
	font-size: 4rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
}
.productos{
	display: grid;
	grid-template-columns: repeat(3,2fr);
}
.producto{
	background-color: palevioletred;
	margin: 1rem;
	padding: 2rem;
}
.fondo-blanco{
	background-color: white;
	height: 40rem;
	object-fit: contain;
	padding: 1rem;
}
.precio,
.titulo-pro{
	color: bisque;
	font-family: 'Basic', sans-serif;
	text-transform: uppercase;
	text-align: left;
}
.precio{
    font-size: 2.5rem;
	font-weight: 500;
}
.titulo-pro{
	font-size: 3rem;
	font-weight: 800;
}
.letras{
	margin-right:40%;
}








